In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import mysql.connector

In [2]:
dblogin = mysql.connector.connect(
    host = 'localhost',
    port = 3306,
    user = 'root',
    passwd = '0101steven',
    database = 'loginfp')

db = dblogin.cursor()

## Sign Up

In [22]:
#datadummy :
username = 'steven'
password = '0101steven'
email = 'stevensnevet@gmail.com'
gender = 'male'
age = 21

In [3]:
queryread = 'select * from usercc'
dfusercc = pd.read_sql(queryread,dblogin)

In [4]:
dfusercc

   id username    password                    email gender  age
0   1   steven  0101steven   stevensnevet@gmail.com   male   21
1   3    admin     admincc        admincc@gmail.com   male   22

In [32]:
if username not in list(dfusercc['username']) and email not in list(dfusercc['email']):
    querysignup = 'insert into usercc (username,password,email,gender,age) values (%s,%s,%s,%s,%s)'
    insertdata = (username,password,email,gender,age)
    db.execute(querysignup,insertdata)
    dblogin.commit()
else :
    print('Maaf user telah terdaftar!')

Maaf user telah terdaftar!

## Login

In [35]:
#datadummy :
loginuser = 'steven'
loginpass = '0101steven'

In [39]:
if loginuser in list(dfusercc['username']) or loginuser in list(dfusercc['email']):
    if loginpass in list(dfusercc['password']):
        print('Login Berhasil')
    else :
        print('Maaf Password Salah')
    
else :
    print ('Maaf username/email salah')

Maaf username/email salah

In [44]:
#datadummy :
loginuser = ' stevensnevet@gmail.com'
loginpass = '0101steven'

In [45]:
if loginuser in list(dfusercc['username']) or loginuser in list(dfusercc['email']):
    if loginpass in list(dfusercc['password']):
        print('Login Berhasil')
    else :
        print('Maaf Password Salah')
    
else :
    print ('Maaf username/email salah')

Login Berhasil

In [47]:
#datadummy :
loginuser = 'asdas'
loginpass = '0101steven'

In [48]:
if loginuser in list(dfusercc['username']) or loginuser in list(dfusercc['email']):
    if loginpass in list(dfusercc['password']):
        print('Login Berhasil')
    else :
        print('Maaf Password Salah')
    
else :
    print ('Maaf username/email salah')

Maaf username/email salah

In [49]:
#datadummy :
loginuser = 'steven'
loginpass = '0101even'

In [50]:
if loginuser in list(dfusercc['username']) or loginuser in list(dfusercc['email']):
    if loginpass in list(dfusercc['password']):
        print('Login Berhasil')
    else :
        print('Maaf Password Salah')
    
else :
    print ('Maaf username/email salah')

Maaf Password Salah